html{
  font-size: 18px;
}
.App {
  text-align: center;
  /* padding: 3em; */
  /* margin: auto; */
  /* max-width: 900px; */
  font-family: 'Nunito', sans-serif;

}
.newcard {
  /* display:'block'; */
  margin: 20px;
  border-radius: 8px;
  /* border: solid #e5e6e7; */
  /* width:'200px'; */
  /* color:'black'; */
  /* align-content: center; */
}
.baseSize {
  font-size: 16px;
  height: 8em;
  padding: 10px;
  overflow: auto;
  text-align: left;
  font-family: 'Nunito', sans-serif;
}
.b1 {
  background-color: #67b0de;
}
p,li{
  line-height: 150%;
}
body {
  /* margin: 5px; */
  border-radius: 5px;
}
.card {
  box-shadow: 0px 0px 4px 5px #5c8fb8;
  border-radius: 10px;
  margin: 10px;
}
.dat h1{
  background: #00274c;
  color:#e5e6e7
}
.dat p, .info > h1 {
  color: #00274c;
}
ul {
  list-style: disc inside none;
}
.nav{
  background-color: #e5e6e7;
  color: #00274c;
}
.head {
  margin: 0px;
  padding: 10px 0px;
  background-color: rgb(65, 65, 211);
  background-image: linear-gradient(180deg,#00274c 0,#004c72 100%);
  color: white;
}
.splash{
  margin: 0px;
  padding: 10px 0px;
  background-color: rgb(65, 65, 211);
  background-image: linear-gradient(180deg,#00274c 0,#004c72 100%);
  color: white;
}
.splash > h1 {
  margin: 0px 10%;
  /* padding: 1em; */
  text-align: left;
  text-transform: uppercase;
  
}
h3 {
  font-size: 20px;
  color: #FFCB05;
}
.splash hr + h1 {
  font-size: 200%;
}

hr{
  height: 0.3em;
  border: none;
  background-color:#FFCB05;;
  margin: 0em 2em;
}
.grid {
  padding: .5em;
  display: grid;
  grid-template-columns: 1fr;
}
.g5{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.g4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 10px;
}
.g3{
  grid-template-columns: 1fr 3fr;
  display: grid;
  gap: 10px;
  padding: 10px;
  /* height:300px; */
 }
.g2{
  grid-template-columns: 1fr 1fr;
  display: grid;
  
}
.g2 * {
  padding:2px;
}


h1{
  font-size: 1.5em;

}

.b:hover{
  background-color:#FFCB05;
}
.footer div, .footer img{
  text-align: left;
  padding: 1em;
  font-size: 0.8em;
}

  /* // '#2f4858' '#33658a' '#86bbd8' '#f6ae2d' '#f26419' */
.info{
  background-color: #ffffff; 
  /* background-color: #33658a; */
}

